// ObjectWindows - (C) Copyright 1992 by Borland International

IDM_FILECOMMANDS MENU 
{
 POPUP "&File"
 {
  MENUITEM "&Save and Exit\tCtrl+D", CM_FILESAVEANDEXIT
  MENUITEM "Save to &Workspace", CM_FILESAVETOWORKSPACE
  MENUITEM "&Print...", CM_FILEPRINT
  MENUITEM SEPARATOR
  MENUITEM "E&xit", CM_EDALLEXIT
 }

 POPUP "&Edit"
 {
  MENUITEM "&Undo\tCtrl+Z", CM_EDITUNDO
  MENUITEM SEPARATOR
  MENUITEM "&Cut\tCtrl+X", CM_EDITCUT
  MENUITEM "C&opy\tCtrl+C", CM_EDITCOPY
  MENUITEM "&Paste\tCtrl+V", CM_EDITPASTE
  MENUITEM "&Delete\tDel", CM_EDITDELETE
  MENUITEM SEPARATOR
  MENUITEM "C&lear All\tCtrl+Del", CM_EDITCLEAR
  MENUITEM "S&elect All\tCtrl+A", CM_EDITSELECTALL
 }

 POPUP "&Search"
 {
  MENUITEM "&Find...\tCtrl+F", CM_EDITFIND
  MENUITEM "&Replace...\tCtrl+H", CM_EDITREPLACE
  MENUITEM "&Next\tF3", CM_EDITFINDNEXT
 }

 POPUP "Se&t"
 {
  MENUITEM "&Font...", CM_EDITSETFONT
 }

 MENUITEM "Test!", CM_TEST
 POPUP "&Help"
 {
  MENUITEM "&Index", CM_HELP
  MENUITEM "&Editor", CM_HELPEDIT
  MENUITEM "&Topic Search\tF1", CM_HELPEDIT_TOPIC
 }

}

IDM_FILECOMMANDS ACCELERATORS 
{
 "X", CM_EDITCUT, VIRTKEY, CONTROL
 VK_DELETE, CM_EDITCUT, VIRTKEY, SHIFT
 "C", CM_EDITCOPY, VIRTKEY, CONTROL
 VK_INSERT, CM_EDITCOPY, VIRTKEY, CONTROL
 "V", CM_EDITPASTE, VIRTKEY, CONTROL
 VK_INSERT, CM_EDITPASTE, VIRTKEY, SHIFT
 VK_DELETE, CM_EDITCLEAR, VIRTKEY, CONTROL
 "Z", CM_EDITUNDO, CONTROL, VIRTKEY
 "F", CM_EDITFIND, CONTROL, VIRTKEY
 "H", CM_EDITREPLACE, VIRTKEY, CONTROL
 VK_F3, CM_EDITFINDNEXT, VIRTKEY
 VK_F1, CM_HELPEDIT_TOPIC, VIRTKEY
 VK_TAB, CM_CONTROLEXECUTE, VIRTKEY, NOINVERT, CONTROL
 "D", CM_FILESAVEANDEXIT, VIRTKEY, CONTROL
 "A", CM_EDITSELECTALL, VIRTKEY, CONTROL
}
