#include <windows.h>
#include "version.h"
#include "logorc.h"

#include <owl\editfile.rh>
#include <owl\printer.rc>
#include <owl\inputdia.rc>
#include <owl\picklist.rc>
#include <owl\except.rc>

#include "localizedstrings.h"

#include "stdwnds.rc"
#include "filemenu.rc"

LOGOICON ICON "logo.ico"


PRINTERAREA DIALOG 17, 21, 160, 124
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION LOCALIZED_SELECTACTIVEAREA
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "STATIC", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 4, 8, 150, 74
 CONTROL LOCALIZED_SELECTACTIVEAREA_EFFECT, -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 11, 139, 10
 CONTROL LOCALIZED_SELECTACTIVEAREA_YHIGH, -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 24, 25, 15
 CONTROL LOCALIZED_SELECTACTIVEAREA_XLOW, -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 32, 42, 10
 CONTROL LOCALIZED_SELECTACTIVEAREA_XHIGH, -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 32, 38, 10
 CONTROL LOCALIZED_SELECTACTIVEAREA_YLOW, -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 62, 20, 10
 CONTROL LOCALIZED_SELECTACTIVEAREA_STEPSPERINCH, -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 86, 100, 10
 CONTROL "", ID_YHIGH, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 22, 30, 15
 CONTROL "", ID_XLOW, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 42, 30, 15
 CONTROL "", ID_XHIGH, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 114, 42, 30, 15
 CONTROL "", ID_YLOW, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 60, 30, 15
 CONTROL "", ID_PIXELS, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 114, 84, 30, 15
 CONTROL LOCALIZED_SELECTACTIVEAREA_RESET, ID_RESETEXTENT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 104, 38, 15
 CONTROL LOCALIZED_SELECTACTIVEAREA_CANCEL, IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 104, 38, 15
 CONTROL LOCALIZED_SELECTACTIVEAREA_OK, IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 104, 38, 15
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 45, 47, 69, 1
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 79, 37, 1, 23
}

IDD_DOCKEDCOMMANDER DIALOG LOADONCALL MOVEABLE NONDISCARDABLE IMPURE 0, 177, 291, 54
STYLE WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_BORDER
CLASS "LogoCommander"
CAPTION ""
FONT 10, "MS Sans Serif"
{
 CONTROL "", ID_EDITINPUT, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 1, 41, 214, 10
 CONTROL "", ID_HALT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 0, 34, 11
 CONTROL "", ID_TRACE, "BUTTON", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 0, 34, 11
 CONTROL "", ID_PAUSE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 12, 34, 11
 CONTROL "", ID_STATUS, "BUTTON", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 12, 34, 11
 CONTROL "", ID_YIELD, "BUTTON", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 24, 34, 11
 CONTROL "", ID_RESET, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 24, 34, 11
 CONTROL "", ID_EXECUTE, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 40, 34, 11
 CONTROL "", ID_EDALL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 40, 34, 11
}

IDD_UNDOCKEDCOMMANDER DIALOG 0, 177, 292, 132
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CLASS "LogoCommander"
CAPTION LOCALIZED_COMMANDER
FONT 10, "MS Sans Serif"
{
 CONTROL "", ID_EDITINPUT, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 1, 120, 214, 10
 CONTROL "", ID_HALT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 4, 34, 11
 CONTROL "", ID_TRACE, "BUTTON", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 4, 34, 11
 CONTROL "", ID_PAUSE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 16, 34, 11
 CONTROL "", ID_STATUS, "BUTTON", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 16, 34, 11
 CONTROL "", ID_YIELD, "BUTTON", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 28, 34, 11
 CONTROL "", ID_RESET, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 28, 34, 11
 CONTROL "", ID_EXECUTE, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 119, 34, 11
 CONTROL "", ID_EDALL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 119, 34, 11
}

DIALOGSTATUS DIALOG 12, 20, 113, 226
EXSTYLE WS_EX_TOOLWINDOW
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 2, 13, 109, 31
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 2, 55, 109, 31
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 2, 98, 109, 31
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 2, 141, 109, 38
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 2, 193, 109, 31
 CONTROL "", ID_STATUS_CONTACT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 14, 47, 9
 CONTROL "", ID_STATUS_PENCOLOR, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 142, 47, 9
 CONTROL "", ID_STATUS_FLOODCOLOR, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 151, 47, 9
 CONTROL "", ID_STATUS_SCREENCOLOR, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 160, 47, 9
 CONTROL "", ID_STATUS_PALETTE, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 169, 47, 9
 CONTROL "", ID_STATUS_WIDTH, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 23, 47, 9
 CONTROL "", ID_STATUS_POSITION, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 100, 47, 9
 CONTROL "", ID_STATUS_WHICH, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 109, 47, 9
 CONTROL "", ID_STATUS_VISIBILITY, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 118, 47, 9
 CONTROL "", ID_STATUS_STYLE, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 32, 47, 9
 CONTROL "", ID_STATUS_HEADING, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 56, 47, 9
 CONTROL "", ID_STATUS_PITCH, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 65, 47, 9
 CONTROL "", ID_STATUS_ROLL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 74, 47, 9
 CONTROL "", ID_STATUS_PEN, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 3, 107, 9
 CONTROL "", ID_STATUS_ORIENTATION, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 45, 107, 9
 CONTROL "", ID_STATUS_TURTLE, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 88, 107, 9
 CONTROL "", ID_STATUS_COLOR, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 131, 107, 9
 CONTROL "", ID_STATUS_KERNEL, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 184, 107, 9
 CONTROL "", ID_STATUS_CALLS, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 194, 47, 9
 CONTROL "", ID_STATUS_PEAKMEMORY, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 203, 47, 9
 CONTROL "", ID_THINGS, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 212, 47, 9
 CONTROL "", ID_PENCONTACT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 14, 52, 9
 CONTROL "", ID_PENCOLOR, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 142, 52, 9
 CONTROL "", ID_FLOODCOLOR, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 151, 52, 9
 CONTROL "", ID_SCREENCOLOR, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 160, 52, 9
 CONTROL "", ID_PALETTEUSE, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 169, 52, 9
 CONTROL "", ID_PENWIDTH, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 23, 52, 9
 CONTROL "", ID_PENSTYLE, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 32, 52, 9
 CONTROL "", ID_TURTLEHEADING, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 56, 52, 9
 CONTROL "", ID_TURTLEPITCH, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 65, 52, 9
 CONTROL "", ID_TURTLEROLL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 74, 52, 9
 CONTROL "", ID_TURTLEPOSITION, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 100, 52, 9
 CONTROL "", ID_TURTLEWHICH, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 109, 52, 9
 CONTROL "", ID_TURTLEVISABILITY, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 118, 52, 9
 CONTROL "", ID_EVALS, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 194, 52, 9
 CONTROL "", ID_MEMORY, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 203, 52, 9
 CONTROL "", ID_VECTORS, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 212, 52, 9
}

IDD_SELECTPROCEDURE DIALOG 13, 17, 142, 105
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 COMBOBOX ID_SELECTPROCEDURE_COMBO, 14, 9, 116, 59, CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_SORT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "", IDOK, 14, 80, 32, 16
 PUSHBUTTON "", ID_SELECTPROCEDURE_ALL, 56, 80, 32, 16
 PUSHBUTTON "", IDCANCEL, 98, 80, 32, 16
}

DIALOGSTUB DIALOG 18, 18, 142, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
BEGIN
END

IDD_PICKCOLOR DIALOG 19, 27, 223, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 10, "MS Sans Serif"
{
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 10, 5, 160, 30
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 10, 40, 160, 55
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 175, 5, 40, 90
 CONTROL "", ID_COLOR1, "ColorControl", 0 | WS_CHILD | WS_VISIBLE, 21, 15, 10, 10
 CONTROL "", ID_COLOR2, "ColorControl", 0 | WS_CHILD | WS_VISIBLE, 39, 15, 10, 10
 CONTROL "", ID_COLOR3, "ColorControl", 0 | WS_CHILD | WS_VISIBLE, 57, 15, 10, 10
 CONTROL "", ID_COLOR4, "ColorControl", 0 | WS_CHILD | WS_VISIBLE, 75, 15, 10, 10
 CONTROL "", ID_COLOR5, "ColorControl", 0 | WS_CHILD | WS_VISIBLE, 93, 15, 10, 10
 CONTROL "", ID_COLOR6, "ColorControl", 0 | WS_CHILD | WS_VISIBLE, 111, 15, 10, 10
 CONTROL "", ID_COLOR7, "ColorControl", 0 | WS_CHILD | WS_VISIBLE, 129, 15, 10, 10
 CONTROL "", ID_COLOR8, "ColorControl", 0 | WS_CHILD | WS_VISIBLE, 147, 15, 10, 10
 CONTROL "", ID_SETCOLOR_RED, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 46, 22, 9
 CONTROL "", ID_COLORBAR1, "SCROLLBAR", SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 38, 46, 124, 9
 CONTROL "", ID_SETCOLOR_GREEN, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 62, 22, 9
 CONTROL "", ID_COLORBAR2, "SCROLLBAR", SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 38, 62, 124, 9
 CONTROL "", ID_SETCOLOR_BLUE, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 78, 22, 9
 CONTROL "", ID_COLORBAR3, "SCROLLBAR", SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 38, 78, 124, 9
 CONTROL "", ID_SELCOLOR, "ColorControl", 0 | WS_CHILD | WS_VISIBLE, 180, 10, 30, 20
 CONTROL "", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 61, 30, 12
 CONTROL "", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 79, 30, 12
}

SIZEDIALOG DIALOG 21, 53, 223, 100
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x80L
FONT 10, "MS Sans Serif"
{
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 10, 5, 160, 30
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 10, 40, 160, 55
 CONTROL "", -1, "STATIC", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 175, 5, 40, 90
 CONTROL "", ID_SELSIZE, "SizeControl", 0 | WS_CHILD | WS_VISIBLE, 180, 10, 30, 20
 PUSHBUTTON "", IDOK, 180, 61, 30, 12
 PUSHBUTTON "", IDCANCEL, 180, 79, 30, 12
 CTEXT "", ID_SETPENSIZE_SIZE, 12, 46, 22, 9, SS_CENTER | WS_CHILD | WS_VISIBLE
 SCROLLBAR ID_SIZEBAR, 38, 46, 124, 9, SBS_HORZ | SBS_LEFTALIGN | WS_TABSTOP
 CONTROL "", ID_SIZE1, "SizeControl", 0 | WS_CHILD | WS_VISIBLE, 21, 15, 10, 10
 CONTROL "", ID_SIZE2, "SizeControl", 0 | WS_CHILD | WS_VISIBLE, 39, 15, 10, 10
 CONTROL "", ID_SIZE3, "SizeControl", 0 | WS_CHILD | WS_VISIBLE, 57, 15, 10, 10
 CONTROL "", ID_SIZE4, "SizeControl", 0 | WS_CHILD | WS_VISIBLE, 75, 15, 10, 10
 CONTROL "", ID_SIZE5, "SizeControl", 0 | WS_CHILD | WS_VISIBLE, 93, 15, 10, 10
 CONTROL "", ID_SIZE6, "SizeControl", 0 | WS_CHILD | WS_VISIBLE, 111, 15, 10, 10
 CONTROL "", ID_SIZE7, "SizeControl", 0 | WS_CHILD | WS_VISIBLE, 129, 15, 10, 10
 CONTROL "", ID_SIZE8, "SizeControl", 0 | WS_CHILD | WS_VISIBLE, 147, 15, 10, 10
}

ABOUTBOX DIALOG 9, 22, 192, 264
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 CONTROL "", ID_ABOUTFMS_VERSION, "STATIC", SS_CENTER | SS_NOPREFIX | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 184, 16
 CONTROL "", ID_ABOUTFMS_GUI, "STATIC", SS_CENTER | SS_NOPREFIX | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 25, 184, 28
 CONTROL "", ID_ABOUTFMS_INSTALLER, "STATIC", SS_CENTER | SS_NOPREFIX | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 82, 184, 20
 CONTROL "", ID_ABOUTFMS_ADVENTURE, "STATIC", SS_CENTER | SS_NOPREFIX | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 107, 184, 28
 CONTROL "", ID_ABOUTFMS_SPECIALTHANKS, "STATIC", SS_CENTER | SS_NOPREFIX | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 140, 184, 20
 CONTROL "", ID_ABOUTFMS_GPL, "STATIC", SS_CENTER | SS_NOPREFIX | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 165, 184, 20
 CONTROL "", ID_ABOUTFMS_NEWSGROUP, "STATIC", SS_CENTER | SS_NOPREFIX | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 190, 184, 30
 CONTROL "", ID_ABOUTFMS_MULTIMEDIALOGIC, "STATIC", SS_CENTER | SS_NOPREFIX | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 224, 184, 20
 CONTROL "", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 76, 248, 40, 14
 CONTROL "", ID_ABOUTFMS_CORE, "STATIC", SS_CENTER | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 58, 184, 20
}


ABOUTMSBOX DIALOG 9, 22, 181, 81
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 CONTROL "", ID_ABOUTMS_FMS, "STATIC", SS_CENTER | SS_NOPREFIX | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 7, 171, 14
 CONTROL "", ID_ABOUTMS_CONSIDERDONATING, "STATIC", SS_CENTER | SS_NOPREFIX | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 24, 171, 34
 CONTROL "", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 74, 64, 32, 14
}

LOGOACC ACCELERATORS
BEGIN
  VK_TAB, CM_CONTROLEXECUTE, VIRTKEY, NOINVERT, CONTROL
  "A",    CM_EDITSELECTALL,  VIRTKEY, CONTROL
END


STRINGTABLE
{
 CM_FILESAVEAS, LOCALIZED_STRINGTABLE_FILESAVEAS 
 CM_FILEOPEN, LOCALIZED_STRINGTABLE_FILEOPEN 
 CM_FILELOAD, LOCALIZED_STRINGTABLE_FILELOAD 
 CM_FILENEW, LOCALIZED_STRINGTABLE_FILENEW 
 CM_FILESAVE, LOCALIZED_STRINGTABLE_FILESAVE 
 CM_FILEEDIT, LOCALIZED_STRINGTABLE_FILEEDIT 
 CM_FILEERASE, LOCALIZED_STRINGTABLE_FILEERASE 
 CM_EXIT, LOCALIZED_STRINGTABLE_EXIT 
 CM_BITMAPNEW, LOCALIZED_STRINGTABLE_BITMAPNEW 
 CM_BITMAPOPEN, LOCALIZED_STRINGTABLE_BITMAPOPEN 
 CM_BITMAPSAVE, LOCALIZED_STRINGTABLE_BITMAPSAVE 
 CM_BITMAPSAVEAS, LOCALIZED_STRINGTABLE_BITMAPSAVEAS 
 CM_BITMAPPRINT, LOCALIZED_STRINGTABLE_BITMAPPRINT 
 CM_BITMAPPRINTERSETUP, LOCALIZED_STRINGTABLE_BITMAPPRINTERSETUP 
 CM_BITMAPPRINTERAREA, LOCALIZED_STRINGTABLE_BITMAPPRINTERAREA 
 CM_SETPENSIZE, LOCALIZED_STRINGTABLE_SETPENSIZE 
 CM_SETFONT, LOCALIZED_STRINGTABLE_SETFONT 
 CM_SETCOMMANDERFONT, LOCALIZED_STRINGTABLE_SETCOMMANDERFONT 
 CM_SETPENCOLOR, LOCALIZED_STRINGTABLE_SETPENCOLOR 
 CM_SETFLOODCOLOR, LOCALIZED_STRINGTABLE_SETFLOODCOLOR 
 CM_SETSCREENCOLOR, LOCALIZED_STRINGTABLE_SETSCREENCOLOR 
 CM_ZOOMIN, LOCALIZED_STRINGTABLE_ZOOMIN 
 CM_ZOOMOUT, LOCALIZED_STRINGTABLE_ZOOMOUT 
 CM_ZOOMNORMAL, LOCALIZED_STRINGTABLE_ZOOMNORMAL 
 CM_HELP, LOCALIZED_STRINGTABLE_HELP 
 CM_HELPMCI, LOCALIZED_STRINGTABLE_HELPMCI 
 CM_HELPHELP, LOCALIZED_STRINGTABLE_HELPHELP 
 CM_HELPTUTORIAL, LOCALIZED_STRINGTABLE_HELPTUTORIAL 
 CM_HELPDEMO, LOCALIZED_STRINGTABLE_HELPDEMO 
 CM_HELPEXAMPLES, LOCALIZED_STRINGTABLE_HELPEXAMPLES 
 CM_HELPRELEASENOTES, LOCALIZED_STRINGTABLE_HELPRELEASENOTES 
 CM_HELPABOUT, LOCALIZED_STRINGTABLE_HELPABOUT 
 CM_HELPABOUTMS, LOCALIZED_STRINGTABLE_HELPABOUTMS 
 CM_EDITDELETE, LOCALIZED_STRINGTABLE_EDITDELETE 
 CM_EDITCLEAR, LOCALIZED_STRINGTABLE_EDITCLEAR 
 CM_EDITUNDO, LOCALIZED_STRINGTABLE_EDITUNDO 
 CM_EDITCUT, LOCALIZED_STRINGTABLE_EDITCUT 
 CM_EDITCOPY, LOCALIZED_STRINGTABLE_EDITCOPY 
 CM_EDITPASTE, LOCALIZED_STRINGTABLE_EDITPASTE 
 CM_EDITSELECTALL, LOCALIZED_STRINGTABLE_EDITSELECTALL 
 CM_EDITFIND, LOCALIZED_STRINGTABLE_EDITFIND 
 CM_EDITREPLACE, LOCALIZED_STRINGTABLE_EDITREPLACE 
 CM_EDITFINDNEXT, LOCALIZED_STRINGTABLE_EDITFINDNEXT 
 CM_EDITSETFONT, LOCALIZED_STRINGTABLE_EDITSETFONT 
 CM_TEST, LOCALIZED_STRINGTABLE_TEST 
 CM_HELPEDIT, LOCALIZED_STRINGTABLE_HELPEDIT 
 CM_HELPEDIT_TOPIC, LOCALIZED_STRINGTABLE_HELPEDIT_TOPIC 
 CM_FILESAVEANDEXIT, LOCALIZED_STRINGTABLE_FILESAVEANDEXIT 
 CM_FILESAVETOWORKSPACE, LOCALIZED_STRINGTABLE_FILESAVETOWORKSPACE 
 CM_FILEPRINT, LOCALIZED_STRINGTABLE_FILEPRINT 
 CM_EDALLEXIT, LOCALIZED_STRINGTABLE_EDALLEXIT 
}

COMMANDS ACCELERATORS 
{
 VK_F1, CM_HELP, VIRTKEY
}

STRINGTABLE 
{
 IDS_CANNOTFIND, LOCALIZED_STRINGTABLE_CANNOTFINDSTRING
}

IDD_SAVEBEFOREEXIT DIALOG 32, 1, 213, 71
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDYES, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 52, 62, 14
 CONTROL "", IDNO, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 52, 62, 14
 CONTROL "", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 52, 62, 14
 CONTROL "", ID_UNSAVEDCHANGES_MESSAGE1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 8, 192, 24
 CONTROL "", ID_UNSAVEDCHANGES_MESSAGE2, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 32, 176, 16
}

MINIEDITOR DIALOG 0, 0, 240, 212
EXSTYLE WS_EX_TOPMOST | WS_EX_CONTROLPARENT
STYLE DS_CENTER | 0x200L | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
FONT 8, "MS Sans Serif"
{
 CONTROL "END", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 196, 32, 16
 CONTROL "", ID_TOLINE, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 4, 4, 240, 12
}
