# Historical URLs (.shtml and .html redirects)
RedirectMatch ^/index\.s?html$            /
RedirectMatch ^/history\.s?html$          /history
RedirectMatch ^/links\.s?html$            /links
RedirectMatch ^/devplan\.s?html$          /devplan
RedirectMatch ^/credits\.s?html$          /credits
RedirectMatch ^/releasecycle\.s?html$     /releasecycle

RewriteEngine On

# Append ".php" to the requested filename, if it exists.
RewriteCond %{REQUEST_FILENAME}      !-f
RewriteCond %{REQUEST_FILENAME}      !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ /$1.php [L]
