/* General Style */ 
body {
	background:#97C8E5;
	font-size:100%;
	margin:0em;
	padding:0em;
}

h1 {
	font-size:2.5em;
	line-height:3.8em;
	font-family:Helvetica;
	font-weight:100;
	color:#E2DBDB;
	margin:0em;
}

h2 {
	font-size:1.563em;
	line-height:1.8em;
	font-family:Helvetica;
	font-weight:100;
	color:#2F2D2C;
	margin:0em;
	padding:1.25em;
	text-align:left;
}

p {
	line-height:1.25em;
	font-family:Helvetica;
	font-weight:100;
	color:#2F2D2C;
	margin:0em;
	padding:1.25em;
	text-align:justify;
}

ul {
	margin:0px;
	padding:0px;
}

li {
	list-style:square;
	font-family:Helvetica;
	font-weight:100;
	color:#2F2D2C;
	line-height:1.25em;
	margin:0em;
	padding:0em;
	margin:0.313em 0em 0.313em 0em;
}

video, img {
	width:90%;
	height:auto;
	max-width:100%;
}

a {
	text-decoration: none;
}

/* On Top Bar */
#menubar {
	display:block;
	background:#2A6AAE;
} 
#menubar ul {
	display:block;
	width:2em;
	padding:0.9em;
}
#menubar ul li {
	display:inline;
}
#menubar ul li a.menubutton {
	display:none;
}
/* Header */ 
header {
	display:block;
	background:#2A6AAE;
	text-align:center;
}

header img {
	width:40%;
	height:auto;
	max-width:100%;
}

/* Navigation */ 
nav {
	display:block;
	height:2.5em;
	background:#FFFFFF;
	text-align:center;
	box-shadow:0px 0px 10px  #4c4948;
}

nav ul {
	display:block;
}
nav ul li {
	display:inline;
	margin:0em 0.188em 0em 0.188em;
}
nav ul li a {
	color:#454040;
	font-size: 1.125em;
	line-height:2.5em;
	padding:0.563em 0.938em 0.375em 0.983em;
	transition:background 0.2s;
	-webkit-transition:background 0.2s;
}

nav ul li a:hover {
	background:#DBD9D8;
	border-bottom: 0.188em solid #E7590B;
}
nav ul li a.active {
	border-bottom: 0.188em solid #E7590B;
}
/* Content Area */ 
#main {
	display:block;
	width:96%;
	max-width:980px;
	margin:1.25em auto;
	padding:0em;
}

#main article {
	display:inline-block; 
	width:65.3%; 
	background:#FFFFFF;
	vertical-align: top;
	margin:0em;
	padding:0em;
	text-align:center;
	box-shadow:0px 0px 10px #4c4948;
}

#main article ul {
	text-align:justify;
	padding:0em 1.875em 1.25em 2.5em;
}

#main article ol {
	text-align:justify;
	padding:0em 1.875em 1.25em 2.5em;
}

#main article img {
	max-width:560px;
	box-shadow:0px 0px 10px -5px #4c4948;
	border-radius: 5px;
}

#main aside {
	display:inline-block;
	width:30.6%;
	margin-left:3%; 
	padding:0em;
	vertical-align:top;
}

#main aside section {
	margin-bottom:1.563em;
	background:#FFFFFF;
	border-bottom: 0.188em solid #E7590B;
	box-shadow:0px 0px 10px #4c4948;
}

#main article h2 {
	padding:1em 1.8em 1em 1.8em;
}

#main aside section ul {
	padding:0em 1.875em 1.25em 2.5em;
}
/* Footer */ 
footer {
	display:block;
	background:#2A6AAE;
	text-align:center;
}

footer ul {
	display:block;
	width:100%;
	max-width:980px;
	text-align:left;
	margin:0px auto;
}

footer ul li {
	display:inline;
	font-size:0.8em;
	line-height:2.8em;
	color:#E2DBDB;
	padding:0em 0.625em 0em 0.625em;
}

footer ul li a {
	color:#E2DBDB;
}

img#sourceforge {
	width : 120px;
}

/* Mobile Style */
@media screen and (max-width:800px) {
	body {
		font-size:90%;
	}
}
@media screen and (max-width:600px) {
	#main aside, #main article {
		width:100%;
		display:block;
		margin:0.625em 0em 0.625em 0em;
	}
}
@media screen and (min-width:550px) {
	nav.nav {
		display:block !important;
	}	
}
@media screen and (max-width:550px) {
	body {
		font-size:86%;
	}
	#menubar ul li a.menubutton {
		display:block;
	}	
	nav {
		display:none;
		height:auto;
	}
	nav ul li {
		display:block;
		margin:0.3em 0em 0.3em 0em;
	}
}
