
IDM_FILECOMMANDS ACCELERATORS 
{
 "X", CM_EDITCUT, VIRTKEY, CONTROL
 VK_DELETE, CM_EDITCUT, VIRTKEY, SHIFT
 "C", CM_EDITCOPY, VIRTKEY, CONTROL
 VK_INSERT, CM_EDITCOPY, VIRTKEY, CONTROL
 "V", CM_EDITPASTE, VIRTKEY, CONTROL
 VK_INSERT, CM_EDITPASTE, VIRTKEY, SHIFT
 VK_DELETE, CM_EDITCLEAR, VIRTKEY, CONTROL
 "Z", CM_EDITUNDO, CONTROL, VIRTKEY
 "F", CM_EDITFIND, CONTROL, VIRTKEY
 "H", CM_EDITREPLACE, VIRTKEY, CONTROL
 VK_F3, CM_EDITFINDNEXT, VIRTKEY
 VK_F1, CM_HELPEDIT_TOPIC, VIRTKEY
 VK_TAB, CM_CONTROLEXECUTE, VIRTKEY, NOINVERT, CONTROL
 "D", CM_FILESAVEANDEXIT, VIRTKEY, CONTROL
 "A", CM_EDITSELECTALL, VIRTKEY, CONTROL
}
