//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1993 by Borland International
//   stdwnds.dlg
//   OWL 1 compatible search and replace dialog resources
//----------------------------------------------------------------------------



